<!DOCTYPE html>
<html>
<head>
  <title>Upload Files</title>
</head>
<body>
  <h2>Upload File</h2>

  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
  </form>

  <hr>

 <h2>Uploaded Files</h2>

<table border="1">
  <tr>
    <th>Filename</th>
    <th>Uploaded By</th>
    <th>Action</th>
  </tr>

  {% for file in files %}
  <tr>
    <td>{{ file["filename"] }}</td>
    <td>{{ file["uploaded_by"] }}</td>
    <td>
      <a href="/files/download/{{ file['id'] }}">Download</a>
    </td>
  </tr>
  {% endfor %}
</table>


  <br>
  <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
